<Jumbo>
    <h2>Welcome to Super Rentals!</h2>
    <p>We hope you find exactly what you're looking for to make you next vacation amazing!</p>
    <LinkTo @route="about" class="button">About Us</LinkTo>
</Jumbo>